<section class="grid">
  <aside id="left" class="col">
    <div>
      {{ currentStatus(battleContext.player)}}
    </div>
    <div>
      {{ currentStatus(battleContext.foe)}}
    </div>
  </aside>
  <main class="col-6">
    <p-scrollPanel>
      <p
        *ngFor="let message of messageHandler.getMessages()"
        [innerHtml]="message"
      ></p>
    </p-scrollPanel>
    <div>
      <p-button size="small" (onClick)="battleContext.triggerAction()"
        >Attack</p-button
      >
    </div>
  </main>
  <aside id="right" class="col">
    <h3>Action Turns</h3>
    <ul>
      <ng-container
        *ngFor="let actionTurn of battleContext.actionList; let i = index"
      >
        <li *ngIf="i < 11">{{ actionTurn.actor.name }}</li>
      </ng-container>
      <li>...</li>
    </ul>
  </aside>
</section>
