/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-dark-blue/theme.css";
@import "primeng/resources/primeng.css";
@import "primeflex/primeflex.css";
@font-face {
  font-family: "Monocraft Sans";
  src: url(assets/Monocraft-nerd-fonts-patched.ttf);
}

* {
  font-family: "Monocraft Sans", sans-serif;
}
